<div class="flex flex-col">
  <mat-toolbar>
    <span>Chatbook AI Message Feedback</span>
    <div class="flex space-x-4 ml-4 text-normal">
      <a [routerLink]="['/rate']" [routerLinkActive]="'mat-primary'" mat-button>
        Rate
      </a>
      <a
        [routerLink]="['/messages']"
        [routerLinkActive]="'mat-primary'"
        mat-button
      >
        Messages
      </a>
    </div>
  </mat-toolbar>
  <div class="w-1/2 mx-auto m-2">
    <router-outlet></router-outlet>
  </div>
</div>
